*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: .4em 0;
}

button {
    appearance: none;
    border: none;
    /* outline: none; */
    background: none;
}

html, body, #root {
    font-family: 'Karla', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #F5F7FB;
    color: #293264;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 90%;
    max-width: 720px;
    padding: 2em;
    border-radius: 10px;
}

.title-container {
    margin-bottom: 4em;
    text-align: center;
}

.tittle {
    font-size: 4rem;
    font-weight: bolder;
}

.bttn {
    font-size: 1.2rem;
    color: white;
    padding: .8em 3em;
    border-radius: 20px;
    background-color: #4D5B9E;
    cursor: pointer;
    white-space: nowrap;
}

.small {
    font-size: 1rem;
    padding: .6em .8em;
}

.active {
    background-color: #d6dcfa;
    box-shadow: inset 0 0 0 4px #4D5B9E;
    color: #4D5B9E;
}

.bttn-locked {
    cursor: not-allowed;
    opacity: .5;
}

.check-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.difficulty-container {
    margin-bottom: 2em;
    text-align: center;
}

.difficulty-buttons-wrapper {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
}

.difficulty-radio {
    display: none;
}

.difficulty-label {
    cursor: pointer;
    user-select: none;
}

/* Questions */

.questions-container {
    margin-bottom: 2em;
}

.question-container {
    width: 100%;
    padding: 1em 0;
    border-bottom: 1px solid #4d5b9e41;
}

.question-answers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 10px;
}

.question-answer {
    padding: .5em;
    box-shadow: inset 0 0 0 1px #4D5B9E;
    border-radius: 10px;
    user-select: none;

    cursor: pointer;
}

.question-answer-choosen {
    background-color: #D6DBF5;
    box-shadow: none;
}

.question-answered, 
.question-answer-wrong {
    opacity: .5;
}

.question-answer-correct,
.question-answer-wrong {
    box-shadow: none;
}

.question-answer-correct {
    background-color: #94D7A2;
}

.question-answer-wrong {
    background-color: #F8BCBC;
}

.blob-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -999;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

/* Blobs */

.blob {
    aspect-ratio: 1/1;
    width: 500px;
    position: absolute;
}

.blob-yellow {
    top: -250px;
    right: -250px;
    transform: rotate(-35deg);
    filter: invert(91%) sepia(8%) saturate(1262%) hue-rotate(332deg) brightness(110%) contrast(103%);
}

.blob-blue {
    bottom: -250px;
    left: -250px;
    filter: invert(89%) sepia(3%) saturate(2811%) hue-rotate(190deg) brightness(107%) contrast(95%);
}

/* Loading */

@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }